script(src!="<?php echo get_template_directory_uri();?>/libs/jquery/dist/jquery.min.js")
script(src!="<?php echo get_template_directory_uri();?>/libs/FlexSlider/jquery.flexslider.js")
script(src!="<?php echo get_template_directory_uri();?>/libs/fancybox/source/jquery.fancybox.pack.js")
script(src!="https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.2/picturefill.js")
script(src!="<?php echo get_template_directory_uri();?>/bundle.js")
