section#logos
  .container
    a(href="http://grammy.kz" target="_blank"): img(src!="<?php echo get_template_directory_uri();?>/images/Gramm.png")
    a(href="http://brewery.kz" target="_blank"): img(src!="<?php echo get_template_directory_uri();?>/images/Brew.png")
    a(href="http://arnau-restaurant.kz" target="_blank"): img(src!="<?php echo get_template_directory_uri();?>/images/arnau.png")
    a(href="http://kikumatsuri.kz" target="_blank"): img(src!="<?php echo get_template_directory_uri();?>/images/Kiku.png")
    a(href="#Sunduk").anchor: img(src!="<?php echo get_template_directory_uri();?>/images/Sunduk.png")
    a(href="#Butchers").anchor: img(src!="<?php echo get_template_directory_uri();?>/images/Butchers.png")
    a(href="#Buno").anchor: img(src!="<?php echo get_template_directory_uri();?>/images/buno.png")
