case process.env.NODE_ENV
  when 'ru'
    - var info = '<b>«SAT Group restaurants» </b>- сеть ресторанов в г. Астана, ставших уже популярными и модными заведениями в премиум-сегменте. В самом центре Левобережья, недалеко друг от друга, расположились 7 ресторанов разных направлений, но объединенных одной целью - удовлетворить даже самого взыскательного гостя. С 2013 года достойно зарекомендовали себя 4 ресторана премиум-класса, расположенных в здании клуба Fitness Palace: караке-ресторан <b>GRAMMY</b>, национальный ресторан <b>ARNAU</b>, ресторан с собственной пивоварней <b>BREWERY</b>, японский ресторан <b>KIKU MATSURI</b>. В конце 2016 года распахнули свои двери 3 новых  концептуальных заведения, разместившиеся при жилом комплексе Arnau Premium: брутальный гастропаб <b>BUTCHER’S</b>, восточный ресторан <b>SUNDUK</b>, кофейня <b>BUNO</b>.'
  when 'eng'
    - var info = '<b>«SAT Grouprestaurants» </b>- restaurant chain in Astana city, which became popular and fashionable public places of premium-segment. In the very center of Left bank, not far from each other, 7 restaurants of different spheres are located, united with one goal – satisfy the most sophisticated guest. Since 2013, 4 restaurants of premium class proved themselves as dignified. They are located in FitnessPalace club: karaoke-restaurant <b>GRAMMY</b>, national restaurant <b>ARNAU</b>, restaurant with own brewery <b>BREWERY</b>, Japanese restaurant <b>KIKU MATSURI</b>. In the end of 2016 3 new conceptual places flinged the doors open. They are located at residential complex ArnauPremium: brutal gastropub <b>BUTCHER’S</b>, Oriental restaurant <b>SUNDUK</b>, coffee house <b>BUNO</b>.'
  when 'kz'
    - var info = '<b>«SAT Group restaurants»</b> - премиум-сегменттегі танымал мекемелердің біріне айналған Астана қаласындағы мейрамханалар желісі. Сол жағалаудың дәл ортасында, бір-біріне жақын, әр түрлі бағыттағы 7 мейрамхана орналасқан, олардың ортақ мақсаты – тіпті ең талғампаз деген қонақтың көңілінен шығу. 2013 жылдан бері Fitness Palace клубы ғимаратындағы премиум-класты 4 мейрамхана көпшілікке танылып үлгерді: <b>GRAMMY</b> караоке-мейрамханасы, <b>ARNAU</b> ұлттық мейрамханасы, жеке сыра қайнататын орны бар <b>BREWERY</b> мейрамханасы, <b>KIKU MATSURI</b> жапон мейрамханасы. 2016 жылдың соңында Arnau Premium тұрғын үй кешенінде орналасқан 3 жаңа концептуалдық мекеме өз есігін айқара ашты: <b>BUTCHER’S</b> гастропабы, <b>SUNDUK</b> шығыс мейрамханасы, <b>BUNO</b> кофеханасы'

section#quote
  a(name="about")
  .container
    .quote_visible
      .wrap
        img(src!="<?php echo get_template_directory_uri();?>/images/spoon.png").spoon
      p !{info}
a(name="rests")
